@model List<Urun>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-2">
                <img class="card-img-top" src="~/img/@item.ResimUrl" alt="@item.Ad">
                <div class="card-body">
                    <h5 class="card-title">@item.Ad</h5>
                    <p class="card-text">@item.Fiyat <strong>TL</strong></p>
                    <a asp-action="UrunDetay" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Detay Göster</a>
                </div>
            </div>
        </div>
    }

</div>

<div class="pagination">
    @for (int i = 1; i <=(int)ViewBag.ToplamSayfa; i++)
    {
        <div class="page-item @(ViewBag.AktifSayfa==i?"active":"")">
            <a asp-action="Index" asp-controller="Home" asp-route-aktifSayfa="@i" class="page-link">@i</a>
        </div>
    }

</div>




