@model Urun
@{
    ViewData["Title"] = "UrunDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="UrunDuzenle" asp-controller="Home" method="post" class="mt-3" enctype="multipart/form-data">
    @*@Html.HiddenFor(I=>I.Id)*@
    <input type="hidden" name="ResimUrl" value="@Model.ResimUrl" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Ad"></label>
        <span asp-validation-for="@Model.Ad" class="text-danger"></span>
        <input asp-for="@Model.Ad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Aciklama"></label>
        <span asp-validation-for="@Model.Aciklama" class="text-danger"></span>
        <textarea asp-for="@Model.Aciklama" style="resize:none!important; height:4rem!important;" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Fiyat"></label>
        <span asp-validation-for="@Model.Fiyat" class="text-danger"></span>
        <input asp-for="@Model.Fiyat" class="form-control" />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="file" asp-for="@Model.Resim" class="form-control-file" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6" id="birinciAlan" style="display:none!important;">
                        <label id="lblOnizleme"></label>
                        <br />
                        <img id="onizleme" src="" height="250" width="250" />
                    </div>
                    <div class="col-md-6" id="ikinciAlan">
                        <label>Önceki Resim <br /> <small class="font-italic text-sm-left">Eğer değiştirmezseniz bu resim kalacak.</small></label>
                        <img src="~/img/@Model.ResimUrl" height="250" width="250" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="form-group">
        @*<img src="~/img/1.jpg" />*@

        <span asp-validation-for="@Model.KategoriId" class="text-danger"></span>
        <select asp-for="@Model.KategoriId" class="form-control" asp-items="@ViewBag.Kategoriler">
            <option selected hidden value="">
                Kategori Seçiniz
            </option>
        </select>

    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </div>

</form>

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryValUnob/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Resim").change(function (e) {

                //console.log("Merhaba");
                //console.log(e.target.files[0]);
                //console.log(URL.createObjectURL(e.target.files[0]));
                $("#onizleme").attr('src', URL.createObjectURL(e.target.files[0]));
                $("#lblOnizleme").text("Seçtiğiniz Resim");
                $("#birinciAlan").fadeIn(500);
                $("#ikinciAlan").fadeOut(500);
            });
        });
    </script>
}

