@model List<SepetModel>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @* localhost:5000  / *@
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("GirisYap","Home")">Giriş Yap </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("YeniKayit","Home")">Kayıt Ol </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sepetim
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <a class="dropdown-item">@item.Ad <span class="text-success">@item.Fiyat TRY</span></a>

                            }

                        }


                        <a class="dropdown-item" asp-action="SepetiGoruntule" asp-controller="Home">Satın Al</a>
                    }
                </div>
            </li>


          
        </ul>

    </div>
</nav>